.mainHeading {
    width: auto;
    font-family: 'titillium';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8em;
    line-height: 2em;
    display: flex;
    align-items: center;
}

.mainHeading_container {
    background: #F8FAFA;
    border: 1px solid #E6EAEA;
    border-radius: 0.5em;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainHeading_container_2 {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

.mainHeading_orders {
    width: 50%;
}

.mainHeading_orders_heading {
    font-family: 'titillium';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #86939E;
}

.mainHeading_orders_content {
    font-family: 'titillium';
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
    line-height: 2em;
}

.mainHeading_amount {
    width: 50%;
    padding-left: 1em;
    border-left: 1px solid #E6EAEA;
}

.mainHeading_amount_heading {
    font-family: 'titillium';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #86939E;
}

.mainHeading_amount_content {
    font-family: 'titillium';
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
    line-height: 2em;
}

.rejectButton {
    border: none;
    background: #BDC6CF;
    border-radius: 10em;
    width: 9em;
    height: 3em;
    font-family: 'titillium';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4em;
    line-height: 2em;
    color: #FFFFFF;
}

.acceptButton {
    border: none;
    background: #6AEAD4;
    border-radius: 10em;
    width: 9em;
    height: 3em;
    font-family: 'titillium';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4em;
    line-height: 2em;
    color: #FFFFFF;
    margin: 0.5em;
}

.table {
    width: max-content;
}

.tableHeaderRow {
    height: 5em;
    border-bottom: 2px solid #E6EAEA;
}

.tableBodyRow {
    border-top: none !important;
}

.tableBodyOrderTypeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.OrderStatusContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableHeaderRowData {
    font-family: 'titillium';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.4em;
    color: #86939E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableDateContainer {
    width: 4em;
    background: #F8FAFA;
    border-radius: 0.6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tableDateMonth {
    font-family: 'titillium';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    color: #86939E;
}

.tableDate {
    font-family: 'titillium';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8em;
    color: #86939E;
}

.tableBodyOrderTypeDate {
    font-family: 'titillium';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.8em;
    color: #86939E;
}

.tableBodyOrderTypeBuy {
    color: #28CF3E;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: 600;
    background: #D2FFD8;
}

.tableBodyOrderTypeSell {
    color: #FFA428;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: 600;
    background: #FFECD2;
}

.tableBodyAccountContainer {
    font-family: 'titillium';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 2em;
    color: #30353B;
    text-align: center;
}

.tableBodyCurrencyContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.tableBodyCurrencySubContainer {
    display: flex;
    flex: 0.5;
}

.tableBodyCurrencyImageContainer {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    margin-left: 1em;
    margin-right: 1em;
}

.tableBodyCurrencyText {
    font-family: 'titillium';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 2em;
    color: #30353B;
}

.tableBodyCurrencySymbol {
    font-family: 'titillium';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.2em;
    color: #86939E;
}

.tableBodyBaseAmountContainerText {
    font-family: 'titillium';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 2.5em;
    color: #30353B;
}

.tableBodyBaseAmountContainerSymbol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'titillium';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.2em;
    color: #86939E;
}

.tableBodyCompletedActionContainer {
    display: flex;
    justify-content: center;
}

.tableBodyCompletedAction {
    padding-left: 2em;
    padding-right: 2em;
    width: fit-content;
    height: 2em;
    display: flex;
    align-items: center;
    border-radius: 2em;
    background: rgba(237, 237, 237, 0.56);
    color: #86939E;
}

tr:hover {
    background-color: rgba(106, 234, 212, 0.1);
    cursor: pointer;
}

tr:hover input[type=checkbox]:not(:checked) {
    border: 0.2em solid black;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.NoTransactionsContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #86939E;
    font-family: 'Regola Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 2em;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    width: 1.8em;
    height: 1.8em;
    border: 0.2em solid #86939E;
    border-radius: 0.2em;
    /* transform: translateY(-0.075em); */
    display: grid;
    place-content: center;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.8em;
    height: 0.8em;
    color: #6AEAD4;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #6AEAD4;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:indeterminate {
    border: 0.2em solid #6AEAD4;
}

input[type="checkbox"]:indeterminate::before {
    content: "";
    clip-path: polygon(6% 40%, 95% 40%, 95% 63%, 6% 63%);
    transform: scale(1);
}

input[type="checkbox"]:checked {
    border: 0.2em solid #6AEAD4;
}

@media screen and (max-width: 768px) {
    .mainHeading_container {
        flex-direction: column;
    }

    .BulkOrderContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mainHeading_container_2 {
        width: 100%;
        flex-direction: column;
    }

    .mainHeading_orders {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .mainHeading_orders_heading{
        margin-right: 1em;
    }

    .mainHeading_orders_content{
        margin-right: 1em;
        font-size: 1.5em;
    }

    .mainHeading_amount {
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        border: none;
    }

    .mainHeading_amount_content{
        font-size: 1.5em;
        padding-left: 1em;
    }
}