.mainHeading {
    width: auto;
    font-family: 'Regola Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8em;
    line-height: 2em;
    display: flex;
    align-items: center;
}

.mainHeading_container {
    background: #F8FAFA;
    border: 1px solid #E6EAEA;
    border-radius: 0.5em;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainHeading_container_2 {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

.mainHeading_orders {
    width: 50%;
}

.mainHeading_orders_heading {
    font-family: 'Regola Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #86939E;
}

.mainHeading_orders_content {
    font-family: 'Regola Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
    line-height: 2em;
}

.mainHeading_amount {
    width: 50%;
    padding-left: 1em;
    border-left: 1px solid #E6EAEA;
}

.mainHeading_amount_heading {
    font-family: 'Regola Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #86939E;
}

.mainHeading_amount_content {
    font-family: 'Regola Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
    line-height: 2em;
}

.rejectButton {
    border: none;
    background: #BDC6CF;
    border-radius: 10em;
    width: 9em;
    height: 3em;
    font-family: 'Regola Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4em;
    line-height: 2em;
    color: #FFFFFF;
}

.acceptButton {
    border: none;
    background: #6AEAD4;
    border-radius: 10em;
    width: 9em;
    height: 3em;
    font-family: 'Regola Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4em;
    line-height: 2em;
    color: #FFFFFF;
    margin: 0.5em;
}

input[type=checkbox] {
    background-color: none;
    height: 1.8em;
    width: 1.8em;
    border: 0.2em solid #86939E;
}

input[type=checkbox]:checked {
    accent-color: #6AEAD4;
    border: 0.2em solid #6AEAD4;
}

.tableHeaderRow {}

.tableHeaderRowData {
    font-family: 'Regola Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.4em;
    color: #86939E;
}

.tableDateContainer {
    width: 4em;
    background: #F8FAFA;
    border-radius: 0.6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tableDateMonth {
    font-family: 'Regola Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    color: #86939E;
}

.tableDate {
    font-family: 'Regola Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8em;
    color: #86939E;
}

.tableBodyOrderTypeDate {
    font-family: 'Regola Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.8em;
    color: #86939E;
}

.tableBodyOrderTypeBuy {
    color: #28CF3E;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: 600;
    background: #D2FFD8;
}

.tableBodyOrderTypeSell {
    color: #FFA428;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: 600;
    background: #FFECD2;
}

.tableBodyAccountContainer {
    font-family: 'Regola Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 2em;
    color: #30353B;
}

.tableBodyCurrencyContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.tableBodyCurrencySubContainer {
    display: flex;
    flex: 0.5;
}

.tableBodyCurrencyImageContainer {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    margin-left: 1em;
    margin-right: 1em;
}

.tableBodyCurrencyText {
    font-family: 'Regola Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 2em;
    color: #30353B;
}

.tableBodyCurrencySymbol {
    font-family: 'Regola Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.2em;
    color: #86939E;
}

.tableBodyAmountContainer {}

.tableBodyBaseAmountContainerText {
    font-family: 'Regola Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 2.5em;
    color: #30353B;
}

.tableBodyBaseAmountContainerSymbol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Regola Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.2em;
    color: #86939E;
}

.tableBodyCompletedAction {
    padding-left: 2em;
    padding-right: 2em;
    /* padding-top: 0.5em;
    padding-bottom: 0.5m; */
    width: fit-content;
    height: 2em;
    display: flex;
    align-items: center;
    border-radius: 2em;
    background: rgba(237, 237, 237, 0.56);
    color: #86939E;
}